##########
# This is a sample file for showcasing deviceinfo config options.
# Place your own config file at `./deviceinfo`.
#
# Not all options are required to be set.
# If you want to see deviceinfo files of already supported devices:
#  - https://gitlab.com/search?group_id=4169239&repository_ref=focal&scope=blobs&search=filename%3Adeviceinfo
#

##########
# Basic device information

# Commercial name of device (usually `ro.product.model` for Android devices)
deviceinfo_name="Smartphone 12Pro 5G"

# Name of manufacturer (usually `ro.product.manufacturer` for Android devices)
deviceinfo_manufacturer="UBports"

# The codename of the device (usually `ro.product.name` for Android devices)
deviceinfo_codename="yumi"

# Architecture of the device:
#  - arm
#  - aarch64
#  - x86
#  - x86_64
deviceinfo_arch="aarch64"

# The halium version the device is based on:
#  -  9
#  - 10
#  - 11
#  - 12
deviceinfo_halium_version="10"

# The Ubuntu Touch release, which should be used (eg as rootfs):
#  - xenial - 16.04
#  - focal  - 20.04
deviceinfo_ubuntu_touch_release="focal"

#
##########

##########
# Kernel

# URL of source repo
deviceinfo_kernel_source="https://gitlab.com/ubports/porting/community-ports/example_kernel_source.git"

# Branch of repo
deviceinfo_kernel_source_branch="main"

# Defconfig to use, located within the kernel repo (usually a file within arch/*/configs/)
deviceinfo_kernel_defconfig="halium_yumi_defconfig"

# Kernel cmdline options, these are very device specific
# Android based ports can usually take them from the Android device tree's `BoardConfig.mk`
deviceinfo_kernel_cmdline="console=ttyMSM0,115200n8 earlycon=msm_geni_serial,0xA84000 androidboot.console=ttyMSM0 printk.devkmsg=on androidboot.hardware=qcom video=vfb:640x400,bpp=32,memsize=3072000 androidboot.configfs=true loop.max_part=7 msm_rtb.filter=0x237 ehci-hcd.park=3 service_locator.enable=1 androidboot.memcg=1 cgroup.memory=nokmem androidboot.usbcontroller=a600000.dwc3 swiotlb=2048 androidboot.boot_devices=soc/1d84000.ufshc systempart=/dev/mapper/system"

# URL of a custom GCC toolchain archive
# This should only be needed in rare cases when Google's GCC 4.9 doesn't work
deviceinfo_kernel_gcc_toolchain_source="https://releases.linaro.org/components/toolchain/binaries/6.3-2017.02/aarch64-linux-gnu/gcc-linaro-6.3.1-2017.02-x86_64_aarch64-linux-gnu.tar.xz"

# Local directory name of the extracted custom GCC toolchain
deviceinfo_kernel_gcc_toolchain_dir="gcc-linaro-6.3.1-2017.02-x86_64_aarch64-linux-gnu"

# Whether the kernel is compiled using Clang or not
deviceinfo_kernel_clang_compile="true"

# Whether LLVM should be used as primary toolchain or not
# Note: requires `deviceinfo_kernel_clang_compile` to be enabled
deviceinfo_kernel_llvm_compile="false"

# Whether lld should be used as linker or not
# Note: requires `deviceinfo_kernel_clang_compile` to be enabled
deviceinfo_kernel_use_lld="false"

# Force use of specified kernel image, do not set to autodetect
deviceinfo_kernel_image_name="Image.lz4"

#
##########


##########
# Boot image
# These configs are used for generating boot.img and recovery.img

# The values can be extracted from a stock boot.img by unpack_bootimg.py tool
# Android based ports can also take them from the Android device tree if available

# Header version of the boot image
deviceinfo_bootimg_header_version="2"

# Pagesize and bootloader offsets written in the boot image header
deviceinfo_flash_pagesize="4096"
deviceinfo_flash_offset_base="0x00000000"
deviceinfo_flash_offset_kernel="0x00008000"
deviceinfo_flash_offset_ramdisk="0x01000000"
deviceinfo_flash_offset_second="0x00000000"
deviceinfo_flash_offset_tags="0x00000100"
deviceinfo_flash_offset_dtb="0x01f00000"

# Android OS version, currently supported:
#  -  9
#  - 10
#  - 11
deviceinfo_bootimg_os_version="11"

# Android security patch level (taken from stock boot image)
deviceinfo_bootimg_os_patch_level="2022-12-05"

# Size of the boot partition
deviceinfo_bootimg_partition_size="100663296"

# Tailtype of boot image, highly device specific:
#  - SEAndroid - Append `SEANDROIDENFORCE` to boot image
# Only use if you are sure you need it!
deviceinfo_bootimg_tailtype="SEAndroid"

# Whether vbmeta should be appended to the boot image or not
deviceinfo_bootimg_append_vbmeta="false"

## DTB(O)

# Whether to use dtc extension or not
deviceinfo_kernel_use_dtc_ext="false"

# Whether ufdt overlays should be applied or not
deviceinfo_kernel_apply_overlay="false"

# Prebuilt DTB to append to the generated images
deviceinfo_bootimg_prebuilt_dtb="ubports_yumi.dtb"

# Same as above, but selected from kernel build directory
# Mainly needed for bootimg v0 Samsung devices
deviceinfo_bootimg_dt="ubports_yumi.dtb"

# Use prebuilt dtbo image instead of generating from kernel sources
# Note: overrides `deviceinfo_dtbo`
deviceinfo_prebuilt_dtbo="dtbo.img"

# Whether a dtbo image should be generated or not
deviceinfo_dtbo="false"

# Whether to not copy an image for dedicated dtbo partition
# This does not affect recovery partition image build
deviceinfo_skip_dtbo_partition="true"

## Ramdisk

# Use prebuilt ramdisk for the boot image
deviceinfo_prebuilt_boot_ramdisk="halium-boot-ramdisk.img"

# Download prebuilt ramdisk for the boot image
deviceinfo_prebuilt_boot_ramdisk_source="https://github.com/halium/initramfs-tools-halium/releases/download/continuous/initrd.img-touch-ARCH"

# Device ramdisk compression.
# Currently supported values are "gzip" and "lz4"
deviceinfo_ramdisk_compression="gzip"

## Recovery

# Whether a recovery.img should be generated or not
#
# Note: Setting this also requires a separate recovery ramdisk to exist at:
#  - ./ramdisk-recovery.img
#  - ./ramdisk-overlay/ramdisk-recovery.img
#
# It is possible to overlay (replace) files of the ramdisk with files placed into:
#  - ./ramdisk-recovery-overlay/
deviceinfo_has_recovery_partition="true"

# Size of the recovery partition
deviceinfo_recovery_partition_size="100663296"

#
##########

# Image sector size of the rootfs
# This depends on the hardware used; the default of 4096 should be fine for most modern devices
deviceinfo_rootfs_image_sector_size="4096"

# Size of the device's (dynamic) system partition
# This will be the maximum size for rootfs.img
deviceinfo_system_partition_size="3000M"

# Whether to enable overlaystore or not
# For more information, see: https://docs.ubports.com/en/latest/porting/configure_test_fix/Overlay.html#ubuntu-touch-20-04-and-later
deviceinfo_use_overlaystore="true"
